[Unit]
Description=Crafter CMS Authoring
Documentation=http://docs.craftercms.org

[Service]
User=crafter
Group=crafter
ExecStart=/opt/crafter/bin/startup.sh
ExecStop=/opt/crafter/bin/shutdown.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
